@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;800&display=swap');

body {
    font-family: 'Poppins';
    font-weight: 300;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button span {
    padding: 6px;
}